
.container {
    background-color: lightgray;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
    margin: 100px auto;
    padding: 5px 30px;}
    
h2 {color: darkblue;}
h3{color: darkred;}
p{font-size: 19px;}